nav {
  padding: 15px 20px;
  background-image: linear-gradient(to top, #6f86d6 0%, #48c6ef 100%);

  a {
    gap: 10px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

    img {
      height: 32px;
    }
  }

}
