<footer>
  <h4>Desarrollado por: Alejandro Diaz & Alejandro Castañeda</h4>

  <section>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi architecto atque aut debitis distinctio eius illum ipsam, iusto, magnam natus necessitatibus nihil nobis optio, perspiciatis placeat similique tempore vitae?
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi enim inventore maiores porro ut voluptates! Aliquid aut debitis enim est exercitationem explicabo facilis, ipsa, maiores qui quibusdam repellendus, repudiandae.
    </p>
  </section>
</footer>
