/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

body {
  min-height: 100vh;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
